<table class="table">
  <thead>
    <tr>
      <th>Nombre Completo</th>
      <th>Productos</th>
      <th>Ubicación</th>
      <th>Pagado</th>
      <th>Estado</th>
      <th>Fecha</th>
      <th>Cantidad a Pagar</th>
      <th>Propina</th>
      <th>Total con Propina</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of pedidosCompletos">
      <td>{{ pedido.usuario.Usuario.nombre_completo }}</td>
      <td>
        <ul>
          <li *ngFor="let producto of pedido.productos">{{ producto.cantidad }} x {{ producto.nombre }}</li>
        </ul>
      </td>
      <td>{{ pedido.pedido.ubicacion }}</td>
      <td>{{ pedido.pedido.pagado ? 'Sí' : 'No' }}</td>
      <td>{{ pedido.pedido.estado }}</td>
      <td>{{ pedido.pedido.fecha | date: 'dd/MM/yyyy' }}</td>
      <td>{{ pedido.pedido.cant_a_pagar }}</td>
      <td>{{ pedido.pedido.propina }}</td>
      <td>{{ pedido.pedido.total }}</td>
    </tr>
  </tbody>
</table>