<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-center px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">¡Bienvenido!</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item" style="width: 100%;">
                        <a href="/dashboard" class="nav-link align-middle px-0 text-white text-start">
                            <img src="../../assets/img/inicio_icon.svg"
                                style="padding-right: 5px; width: 20px; height: 20px;"> <span
                                class="ms-1 d-none d-sm-inline">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item" style="background-color: #5A1236; width: 100%;">
                        <a href="/pedidos" class="nav-link align-middle px-0 text-white text-start">
                            <img src="../../assets/img/pedidos_icon.svg"
                                style="padding-right: 5px; width: 20px; height: 20px;"> <span
                                class="ms-1 d-none d-sm-inline">Pedidos</span>
                        </a>
                    </li>
                    <li class="nav-item" style="width: 100%;">
                        <a href="/agregar_producto" class="nav-link align-middle px-0 text-white text-start">
                            <img src="../../assets/img/ag_producto_icon.svg"
                                style="padding-right: 5px; width: 20px; height: 20px; "> <span
                                class="ms-1 d-none d-sm-inline">Agregar Producto</span>
                        </a>
                    </li>
                    <li class="nav-item" style="width: 100%;">
                        <a href="/usuarios" class="nav-link align-middle px-0 text-white text-start">
                            <img src="../../assets/img/usuarios_icon.svg"
                                style="padding-right: 5px; width: 20px; height: 20px;"> <span
                                class="ms-1 d-none d-sm-inline">Usuarios</span>
                        </a>
                    </li>
                    <li class="nav-item" style="width: 100%;">
                        <a href="/reporte" class="nav-link align-middle px-0 text-white text-start">

                            <img src="../../assets/img/reporte_icon.svg"
                                style="padding-right: 5px; width: 20px; height: 20px;">
                            <span class="ms-1 d-none d-sm-inline">Reporte</span>
                        </a>
                    </li>
                    <li class="nav-item" style="width: 100%;">
                        <a href="/ajustes" class="nav-link align-middle px-0 text-white text-start">

                            <img src="../../assets/img/ajustes_icon.svg"
                                style="padding-right: 5px; width: 20px; height: 20px;">
                            <span class="ms-1 d-none d-sm-inline">Ajustes</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Notificaciones</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col py-3">
            <h3>Left Sidebar with Submenus</h3>
            <p class="lead">
                An example 2-level sidebar with collasible menu items. The menu functions like an "accordion" where only
                a single
                menu is be open at a time. While the sidebar itself is not toggle-able, it does responsively shrink in
                width on smaller screens.</p>
            <ul class="list-unstyled">
                <li>
                    <h5>Responsive</h5> shrinks in width, hides text labels and collapses to icons only on mobile
                </li>
            </ul>
        </div>
    </div>
</div>