<!-- formulario de Login
    - Se utiliza la directiva ngForm para el formulario
    - Se utiliza la directiva ngModel para el binding de los campos del formulario
    - Se utiliza la directiva ngSubmit para el evento de submit del formulario
    - Se utiliza la directiva ngIf para mostrar mensajes de error

    - Se utiliza la directiva ngClass para agregar clases de error a los campos del formulario
    - Se utiliza la directiva ngClass para agregar clases de error al formulario
 -->

<div class="container-fluid d-flex justify-content-center align-items-center"
    style="height: 100vh; width: max-content;">
    <div class="container-fluid rounded" style="background-color: white; padding: 5%;">
        <div class="col custom-font" style="display: inline-block;">
            <!-- logo de la empresa que se hace pequeño en un dispositivo movil pero grande en un dispositivo mas grande-->
            <img src="../../../assets/img_logo.svg" class="img-fluid"   alt="Responsive image">

            <!-- items alineados al centro en este container -->
            <div class="container text-center" style="padding-top: 10%; padding-bottom: 5%;">
                <h2><b>RESTABLECER CONTRASEÑA</b></h2>
                <p>Ingresa la información para restablecer tu contraseña </p>
            </div>

            <form #f="ngForm" (ngSubmit)="onResetPassword(f.value)" novalidate>
                <div class="form-group" style="padding-bottom: 5%;"
                    [ngClass]="{'has-error': token.invalid && token.touched}">
                    <label for="token">Token</label>
                    <input type="text" class="form-control" id="token" name="token" ngModel #token="ngModel" required>
                    <div class="help-block" style="color: #5A1236;" *ngIf="token.invalid && token.touched"><i>Necesitas
                            un token </i></div>
                </div>

                <!-- Campo para la nueva contraseña -->
                <div class="form-group mb-4" [ngClass]="{'has-error': password.invalid && password.touched}">
                    <label for="password">Nueva contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" ngModel
                        #password="ngModel" required>
                    <div class="help-block" style="color: #5A1236;" *ngIf="password.invalid && password.touched">
                        <i>Ingresa
                            una contraseña</i>
                    </div>
                </div>

                <!-- Campo para confirmar la nueva contraseña -->
                <div class="form-group mb-4"
                    [ngClass]="{'has-error': confirmPassword.invalid && confirmPassword.touched}">
                    <label for="confirmPassword">Confirmar nueva contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ngModel
                        #confirmPassword="ngModel" required>
                    <div class="help-block" style="color: #5A1236;"
                        *ngIf="confirmPassword.invalid && confirmPassword.touched"><i>Confirma
                            tu contraseña</i></div>
                </div>

                <!-- Botón para enviar el formulario -->
                <button type="submit" class="btn btn-primary w-100"
                    style="background-color: #5A1236; border-color: #5A1236; margin-top: 5%; margin-bottom: 5%;"
                    [disabled]="f.invalid">Cambiar mi contraseña
                </button>
                <div *ngIf="resetError" class="alert alert-danger">{{ resetError }}</div>

            </form>
            <div class="container text-center">
                <p>¿Recordaste tu contraseña? <a href="auth/login" style="color: #5A1236;"> Inicia Sesión</a></p>
            </div>


        </div>
    </div>